.wrapper
    border-bottom: 0.5px solid #000000
    padding: 16px 0
    display: flex
    gap: 12px
    &.first
        border-top: 0.5px solid #000000

    .cell
        width: 50%
        font-size: 12px
        line-height: 14.51px

@media (min-width: 834px)
    .wrapper
        gap: 48px