@use "@styles/_typography" as typography
@use "@styles/_spacing" as spacing
@use "@styles/_colors" as colors

.wrapper
    display: flex
    column-gap: spacing.$spacing-s * 2

    .figure
        position: relative
        width: spacing.$spacing-m * 10
        height: spacing.$spacing-l * 10

        img
            width: 100%
            height: 100%

    .details
        padding: spacing.$spacing-l * 2 0
        display: flex
        flex-direction: column
        justify-content: space-between

        .info
            display: flex
            flex-direction: column
            gap: spacing.$spacing-l

            .text
                gap: spacing.$spacing-2xs
                font-size: typography.$font-size-s
                line-height: typography.$line-height-xs

            .price
                font-size: typography.$font-size-s
                line-height: typography.$line-height-xs
        
        .delete
            all: unset
            color: map-get(colors.$colors, "error")
            font-size: typography.$font-size-s
            line-height: typography.$line-height-xs

@media (min-width: spacing.$spacing-xl * 34.75) 
    .wrapper
        width: 100%
        gap: spacing.$spacing-l * 2

        .figure
            width: spacing.$spacing-l * 13
            height: spacing.$spacing-l * 16

        .details
            flex-grow: 1

@media (min-width: spacing.$spacing-l * 96)
    .wrapper
        width: spacing.$spacing-l * 27.4

        .details
            flex-grow: 1
        