.wrapper
    display: flex
    flex-direction: column
    gap: 40px
    padding: 0 16px
    
    .title
        font-size: 20px
        line-height: 24.18px

@media (min-width: 834px)
    .wrapper
        width: 754px
        align-self:  center

@media (min-width: 1920px) 
    .wrapper
        width: 1200px