@use "@styles/_colors" as colors
@use "@styles/_spacing" as spacing
@use "@styles/_borders" as borders

.wrapper
    width: spacing.$spacing-s * 2
    height: spacing.$spacing-s * 2
    display: flex
    align-items: center
    justify-content: center
    border: borders.$border-medium solid map-get(colors.$colors, "light-border")
    &.selected
        border-color: map-get(colors.$colors, "dark")
    .color
        width: spacing.$spacing-l
        height: spacing.$spacing-l